/*------------------------------------------------------------------------------
                    original css footer by aakash
---------------------------------------------------------------------------------*/
.widget .copyright {
    margin: 0;
    padding: 0;
}
.widget li{
    list-style: none;
    font-size: 16px;
    padding: 2px;
}
ul.link-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.link-list li {
    margin: 0;
    padding: 2px 0 2px 0;
    list-style: none;
}
footer {
    background: #000;
}
footer ul.link-list li a {
    color: #BFBFBF;
}
footer ul.link-list li a:hover {
    color: #C66;
}
footer {
    padding: 50px 0 0 0;
    color: #BFBFBF;
    background: url('../images/important/head-bg.jpg');
}
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
    color: #fff;
}
footer address {
    line-height: 1.6em;
}
footer h5 a:hover, footer a:hover {
    text-decoration: none;
}
ul.social-network {
    list-style: none;
    margin: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}
#sub-footer {
    text-shadow: none;
    color: #3A3A3A;
    padding: 0;
    padding-top: 30px;
    margin: 20px 0 0 0;
    background: #002633;
    min-height: 75px;
}
#sub-footer p {
    margin: 0;
    padding: 0;
}
#sub-footer span {
    color: #f5f5f5;
}
.copyright {
    text-align: left;
    font-size: 15px;
}
.copyright p a {
    color: #FF0000 !important;
}
#sub-footer ul.social-network {
    float: right;
}
.social-network i {
    color: #F66;
}
/*------------------